@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Varela+Round');
$white: #FFFFFF;
$darkYellow: #F9A825;
$lightYellow: #FFEB3B;
*{
    box-sizing: border-box;
}

p,a{
    font-family: 'Noto Sans', sans-serif;
    color: $white;
}

a{
    text-decoration: none;
    transition: .3s;
    &:hover{
        color:$darkYellow;
    }
}

body{
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.container{
    width: 800px;
    margin:auto;
}

h1{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: $white;
    font-size: 2.8rem;
    margin-top:30px;
}

.subtitle{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: $white;
    font-size: 1.5rem;
    margin-top:30px;

    a{
        text-decoration: none;
        color: #FFEB3B;
    }
}

.card{
    background: $white;
    border-radius: 2px;
    margin: 30px 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    padding: 30px 0;
    min-height: 500px;
}

.day{
    font-size: 2rem;
}

.title{
    font-weight: 300;
}
ul{
    margin-left:38px;
    display:flex;
    flex-direction:column;
} 

li{
    margin-bottom: 30px;
    vertical-align: middle;
}

li:last-child{
    margin-bottom: 0;
}

li>a{
    text-decoration: none;
    display:block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    color: #616161;
    font-weight: 600;
    position:relative;
}

.back{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
}