<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Don's simple dev tamplate!
    script(src="./js/main.js")
    link(href="/css/main.css", rel="stylesheet")
body
    h1  write your html(pug) code here!
    